@font-face {
    font-family: 'Scania Sans CY ';
    src: local('Scania Sans CY  Headline Bold'), local('Scania-Sans-CY--Headline-Bold'),
        url('ScaniaSansCYHeadline-Bold.woff2') format('woff2'),
        url('ScaniaSansCYHeadline-Bold.woff') format('woff'),
        url('ScaniaSansCYHeadline-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }